<!--Verificar o estado da variavel contraste-->
<div *ngIf="!atualizarContraste() || atualizarContraste()" ></div>


<!--Select de Gêneros dos Filmes-->  
<div class='select' *ngIf='contraste===false'>
<mat-form-field>
    <mat-label><p  [ngStyle]="{'font-size':font}">Gêneros</p></mat-label>
    <mat-select>
        <mat-option value="Populares" (click)="setGenero('Populares','Populares')"  [ngStyle]="{'font-size':font}">Populares</mat-option>
        <mat-option *ngFor="let i of listGeneros.genres" [value]="i.name"  (click)="setGenero(i.id,i.name)"  [ngStyle]="{'font-size':font}">
            {{i.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
</div>


<div class='select' *ngIf='contraste===true'>
    <mat-form-field>
        <mat-label><p [ngStyle]="{'color':'yellow', 'border-style': 'solid', 'border-color':'white'}">Gêneros</p></mat-label>
        <mat-select >
            <div [ngStyle]="{'background-color':'black'}">
            <mat-option value="Populares" (click)="setGenero('Populares','Populares')"><a  [ngStyle]="{'color':'yellow','font-size':font}"  >Populares</a></mat-option>
            <mat-option *ngFor="let i of listGeneros.genres" [value]="i.name"  (click)="setGenero(i.id,i.name)">
                <a  [ngStyle]="{'color':'yellow','font-size':font}"> {{i.name}}</a>
            </mat-option>
        </div>
        </mat-select>
    </mat-form-field>
</div>