<div class='body-search'>
  <div class='form'>  
  <form class="formulario"  novalidate  [formGroup]="formulario" (ngSubmit)='onSubmit()'>
    
    <input matInput class="search" name='seach' id='search' placeholder="  PESQUISE UM FILME"  type="search"  formControlName="texto">
      
    <div class='input'>
    <input class="button"  type= 'image'  src="https://lh3.googleusercontent.com/proxy/viYkTfmQZauC43kzMP_TVR3q_-aygq7N6DNlB5BcBdJJP8iPSHUZj5VxRYxiwQ1lWj_0eOhbrqPDaLHTx6Jd7w4Hsw3dtI45wpWwRxQ" value="Salvar">
  </div>
    </form>
  </div>
</div>
    
