.body {
    width: auto;
    height: 700px;
    margin-bottom: 100px;
}

/*link para mostar caminho percorrido*/

.caminho{
    text-align: left;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 50px;
    margin-left: 40px;
    color: rgb(255,255,255);
}
.caminho a{
    color: rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
}
.caminho a:hover{
    color: rgb(221, 0, 63);    
    transition: 0.5s;
}

/* definições gerais do card*/
.card{
    background-color: #020D18;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 50px;
    width: auto;
    height: 700px;
    border:none;
}

.card-text {
    margin-left: 480px;
    margin-top: -470px;
    margin-right: 20px;
    text-align: left;    
    font-family: 'Dosis', sans-serif;
    background-color: none;
    position: relative;
}

.card-text h1{
    color:rgb(255,255,255);
    font-size: 35px;
}

.card-text h5,h6,h3 { color:#585F65;}
.card-text h5 { font-size: 20px; margin-right: 3px;}
.card-text h3 { font-size: 20px;} 
p.descricao { font-size: 15px;color:#585F65;}
.card-text p.normal {
    color:#2D5987;
    font-size: 20px;
    text-align: left;
    margin-left: 215px;
    padding-left: 5px;
    margin-top: -37px;
}

.card-text a{
    color:#2D5987;
    font-size: 20px;
    cursor: pointer;
}

.card-text a:hover{
    color:#DCF836;
    transition: 0.5s;
}

.card-text ul {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 10px;
}

/* Imagem de cada card */
.card-image {
    margin-top: 20px;
    margin-left: 25px;
    background-color:none;
}


.imageTrue {
    margin-top: 20px;
    margin-left: 25px;
    width: 404px;
    height: 509px;
    border-radius: 3px;
}

/* Cada card de filme que não possui cartaz*/
.imageFalse { 
    margin-top: 20px;
    margin-left: 25px;
    width: 404px;
    height: 509px;   
    border-radius: 3px;
    border:0.5px;
}


@media screen and (max-width: 1000px) {
    .body {
        width: auto;
        height: auto;
    }
    
    .card-image {
        margin-top: 5%;
        margin-left: 20%;
    }

    .card-text {
        margin-left: 5%;
        margin-top: 10%;
        margin-right: 20%;
        text-align: left;    
        position: relative;
    }
}

@media screen and (max-width: 750px) {
    .card{
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .caminho{
        font-size: 30px;
        margin-bottom: 10%;
        margin-left: 10%;
    }
    .card-image {
        margin-top: 5%;
        margin-left: 15%;
    }

    .card-text {
        margin-left: 5%;
        margin-top: 10%;
        margin-right: 20%;
        text-align: left;    
        position: relative;
    }

    .imageTrue {
        width: 304px;
        height: 379px;
    }
    
    /* Cada card de filme que não possui cartaz*/
    .imageFalse { 
        width: 304px;
        height: 379px; 
    }
    
}


@media screen and (max-width: 555px) {

.card{
        margin-left: 10%;
        margin-right: 15%;
    }
   
.card-text {
    margin-left: 0%;
    margin-top: 10%;
    margin-right: 20%;
}

.card-text h1 { font-size: 30px;}
.card-text h5 { font-size: 15px;}
.card-text h3 { font-size: 15px;} 
p.descricao { font-size: 10px;}
.card-text p.normal  { font-size: 15px;}
.card-text a  { font-size: 15px;}

.imageTrue {
    width: 254px;
    height: 329px;
}

/* Cada card de filme que não possui cartaz*/
.imageFalse { 
    width: 254px;
    height: 329px; 
}
}


@media screen and (max-width: 461px) {
    .card{
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 10%;
    }

    .card-image {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 5%;
    }

    .card-text {
        margin-left: 0%;
        margin-top: 10%;
        margin-right: 20%;
    }

 
.card-text p { 
    margin-left: 0%;
    margin-top: 20px;
 }
    
 .card-text ul {
    display: list-item;
}
}
