.body {
    width: auto;
    height: 700px;
    background-color: #020D18;
}

/*link para mostar caminho percorrido*/

.caminho{
    text-align: left;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 50px;
    margin-left: 40px;
    color: rgb(255,255,255);
}
.caminho a{
    color: rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
}
.caminho a:hover{
    color: rgb(221, 0, 63);    
    transition: 0.5s;
}

/* definições gerais do card*/
.card{
    background-color: #020D18;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 50px;
}

.card-text {
    margin-left: 480px;
    margin-top: -470px;
    margin-right: 20px;
    text-align: left;    
    font-family: 'Dosis', sans-serif;
    background-color: #020D18;
    position: relative;
}

.card-text h1{
    color:rgb(255,255,255);
    font-size: 35px;
}

.card-text h5,h6,h3 { color:#585F65;}
.card-text h5 { font-size: 20px;}
.card-text h3 { font-size: 20px;} 
.card-text h6 { font-size: 15px;}
.card-text p {
    color:#2D5987;
    font-size: 20px;
    text-align: left;
    margin-left: 200px;
    margin-top: -33px;
}

.card-text a{
    color:#2D5987;
    font-size: 20px;
    cursor: pointer;
}

.card-text a:hover{
    color:#DCF836;
    transition: 0.5s;
}

.card-text ul {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: 100px;
}

/* Imagem de cada card */
.card-image {
    margin-top: 20px;
    margin-left: 25px;
    background-color: #020D18;
}


.imageTrue img{
    width: 404px;
    height: 479px;
    border-radius: 3px;
    border-color: rgb(255,255,255);
    border:0.5px;
}

/* Cada card de filme que não possui cartaz*/
.imageFalse img { 
    width: 404px;
    height: 479px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
    box-shadow:  2px 5px 10px 5px rgba(50, 50, 50, 0.5);
}
