<div *ngIf='atualizar()===false'></div>
<div *ngIf='atualizar()===true'></div>
<div class='nav-body'  *ngIf="altoContraste==false" >
    <a class='logo'><img src=''></a>

    <div class="nav-right">
        <ul class="menu"> <!-- Esse é o 1 nivel ou o nivel principal -->
        <li><a class='principal' routerLink="/home">Home</a></li>
        <li><a class='principal'>Gêneros</a>
            <ul class="submenu" > <!-- Esse é o 2 nivel ou o primeiro Drop Down -->
                <li (click)="setGenero('Todos','Todos')"><a>Todos</a></li>
                <li (click)="setGenero('Populares','Populares')"><a>Populares</a></li>
                <li (click)="setGenero(18,'Ação')"><a >Ação</a></li>
                <li (click)="setGenero(12,'Aventura')"><a>Aventura</a></li>                
                <li (click)="setGenero(16,'Animação')"><a>Animação</a></li>
                <li (click)="setGenero(35,'Comédia')"><a>Comédia</a></li>
                <li (click)="setGenero(10749,'Romance')"><a>Romance</a></li>              
                <li (click)="setGenero(27,'Terror')"><a>Terror</a></li>
            </ul>          
        </li>
        </ul>
    </div>    
</div>

<!--Alto contraste-->
<div class='nav-body' *ngIf="altoContraste==true" [ngStyle]="{'background-color': 'black', 'border-style': 'solid', 'border-color':'white'}">
    <a class='logo'><img src=''></a>

    <div class="nav-right" >
        <ul class="menu"> <!-- Esse é o 1 nivel ou o nivel principal -->
        <li><a class='principal' routerLink="/home" [ngStyle]="{'color': 'yellow'}">Home</a></li>
        <li><a class='principal ' [ngStyle]="{'color': 'yellow'}">Gêneros</a>
            <ul class="submenu" > <!-- Esse é o 2 nivel ou o primeiro Drop Down -->
                <li (click)="setGenero('Todos','Todos')"><a [ngStyle]="{'color': 'yellow'}">Todos</a></li>
                <li (click)="setGenero('Populares','Populares')"><a [ngStyle]="{'color': 'yellow'}">Populares</a></li>
                <li (click)="setGenero(18,'Ação')"><a [ngStyle]="{'color': 'yellow'}" >Ação</a></li>
                <li (click)="setGenero(12,'Aventura')"><a [ngStyle]="{'color': 'yellow'}">Aventura</a></li>                
                <li (click)="setGenero(16,'Animação')"><a [ngStyle]="{'color': 'yellow'}">Animação</a></li>
                <li (click)="setGenero(35,'Comédia')"><a [ngStyle]="{'color': 'yellow'}">Comédia</a></li>
                <li (click)="setGenero(10749,'Romance')"><a [ngStyle]="{'color': 'yellow'}">Romance</a></li>             
                <li (click)="setGenero(27,'Terror')"><a [ngStyle]="{'color': 'yellow'}">Terror</a></li>
            </ul>          
        </li>
        </ul>
    </div>    
</div>
