
<div class='body' *ngIf="!altoContraste">
   <div class="button"> <button (click)='Contraste()'> Contraste:  <img src='https://image.flaticon.com/icons/png/512/61/61410.png'></button></div>
    <app-nav [altoContraste]='altoContraste' ></app-nav>

    <app-search  ></app-search>
    <router-outlet ></router-outlet>
    
</div>


<div class='body' *ngIf="altoContraste" [ngStyle]="{'background-color': 'black', 'color':'#fff'}">
    
    <div class="button" [ngStyle]="{'background-color': 'black'}"> 
        <button [ngStyle]="{'background-color': 'black'}" (click)='Contraste()'> Contraste:  <img [ngStyle]="{'background-color':'yellow'}" src='https://image.flaticon.com/icons/png/512/61/61410.png'>
    </button></div>
    <app-nav [altoContraste]='altoContraste'></app-nav>

    <app-search ></app-search>

    <router-outlet ></router-outlet>
    
</div>