
/* body*/
.body-list{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    height: 88%;
    background-color:  none;
}


/* lista de filme*/
.list-Film{
    margin-bottom: 0px;
    margin-left: 100px;
    margin-top: 0px;
    background-color: none;
}
.list-Film h1{
    text-align: left;
    font-size: 35px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 50px;
    margin-left: 40px;
    color: rgb(255,255,255);
}
.list-Film h1 a{
    color: rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
}
.list-Film h1 a:hover{
    color: rgb(221, 0, 63);    
    transition: 0.5s;
}

.list-Film ul{
    list-style: none;
    float: left;
    background-color: none;
}

/* Cada card de filme*/
.list-Film ul mat-card {
    margin-bottom: 50px;
    margin-right: 50px;
    display: table;
    width: 304;
    height: 310px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: #020D18;
}
/* Cada card de filme quando passar o mouse*/
.list-Film ul mat-card:hover {
    box-shadow:  2px 5px 10px 5px rgba(248, 248, 248, 0.5);
}

/*texto que mostra pontuação do filme*/
.voto{
    text-align: left;
    font-family: 'Dosis', sans-serif;
    color:#2D5987;
}

/* Imagem de cada card */
.cartaz img { 
    width: 204px;
    height: 279px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



/* Título do filme*/
.titulo {
    width: 150px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
   text-overflow: ellipsis;
   color:#2D5987;
}

.titulo:hover{
    color:#DCF836;
}

/* paginacao body*/
.paginacao {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 120px;
    float: right;
}

/* paginacao links*/
.paginacao a {
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color:  rgb(255,255,255);
    transition: 1s;
    cursor: pointer;
}



/* paginacao button*/
.paginacao button {
    padding: 15px 15px;
    margin-top:3px;
    margin-bottom: 0px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgb(221, 0, 63);
    border:none;
    border-radius: 3px;
    text-align: center;
    color: rgb(255,255,255);
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
    transition: 0.1s;
    cursor: pointer;
}

/* hover's dos buttons e links*/
.paginacao button:hover {
    background-color: rgb(255, 0, 100);
}

.paginacao a:hover {
    color: rgb(255, 0, 100);
}

/*responsivo*/
@media only screen and (max-device-width: 750px) {
    .body-list{
        margin-top: 15%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 15%;
        width: auto;
    }

    .list-Film{
        margin-bottom: 20%;
        margin-left: 15%;
        margin-right: 15%;
    }
    
}

@media only screen and (max-device-width: 400px) {
    .body-list{
        margin-top: 15%;
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 15%;
        width: auto;
    }

    .list-Film{
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 15%;
    }
    
    .list-Film h1{
        text-align: left;
        font-size: 95%;
        margin-bottom: 15%;
        margin-left: 5%;
    
    }
}