.body {
    width: auto;
    height: 300px;
    
    font-family: 'Dosis', sans-serif;
}
.body h1 {
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 35px;
}

.body h1 a{
    color: rgb(255255,255);
    cursor: pointer;
    transition: 1s;
    color: rgb(255255,255);
}
.body h1 a:hover{
    color: rgb(221, 0, 63);
}

.msg h1{
    color: rgb(255255,255);
    margin-bottom: 130px;
    margin-top: -150px;
    margin-left: 40%;
}