.body {
    width: auto;
    height: auto;
    font-family: 'Dosis', sans-serif;
    height: -300px;
}
.body h1 {
    text-align: left;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 35px;
    color: rgb(255,255,255);
}

.body h1 a{
    cursor: pointer;
    transition: 1s;
    color:  rgb(255,255,255);
    text-decoration: none;
}
.body h1 a:hover{ color: rgb(221, 0, 63);}

.msg h2{
    color: rgb(255,255,255);
    margin-bottom: 15%;
    margin-top: 10%;
    margin-left: 30%;
}

/*reponsivo*/
@media only screen and (max-device-width: 750px) {


    .body h1 {
        margin-left: 20%;
        margin-top: 15%;
        margin-right: 40%;
        font-size: 98%;
    }

    .msg h2{
        margin-bottom: 50%;
        margin-top: -20%;
        margin-left: 25%;
        margin-right: 20%;
    }
}

@media only screen and (max-device-width: 400px) {


    .body h1 {
        margin-left: 20%;
        margin-top: 15%;
        font-size: 80%;  
        margin-right: 20%;  
    }

    .msg h2{
        margin-bottom: 50%;
        margin-top: -50%;
        margin-left: 40%;
        margin-right: 40%;
        font-size: 90%;
        text-align: center;
        float: center;
    }
}